<div class="col-md-12 rule_info">
	<div class="col-md-12">
		<div class="form-group col-md-4 col-xs-6">
			<label>Rule ID</label>
			<input type="text" class="form-control" placeholder="" ng-model="rule.ruleId" readonly>
		</div>
		<div class="form-group col-md-8 col-xs-6">
			<label>Owner</label>
			<input type="text" class="form-control" placeholder="" ng-model="rule.username" readonly>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group col-md-12 col-xs-12">
			<label>Rule Name</label>
			<input type="text" class="form-control" placeholder="" ng-model="rule.ruleName" readonly>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group col-md-12 col-xs-12">
			<label>Description</label>
			<textarea rows="5" type="text" class="form-control" placeholder="" ng-model="rule.ruleDescription" readonly></textarea>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-4 col-xs-6">
			<button class="btn col-md-8 col-sm-5 col-xs-12 btn_orange btn_big" ng-click='closeThisDialog(0)'>Return</button>
		</div>
	</div>
</div>