		<div class="col-sm-offset-2 col-sm-8 col-xs-12 login_box">

			<div class="col-xs-12 nopadding margin_bottom_20">
				<div class="col-sm-offset-1 col-sm-10 col-xs-12">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="forgotPassObj.username" ng-readonly="showSecurityQuestion" placeholder="Username" on-enter="username">
					</div>
					<button type="button" class="btn col-xs-12 btnBlue" ng-click="getSecurityQuestion(forgotPassObj)" ng-disabled="showSecurityQuestion" data-enter="username">Submit</button>
				</div>
			</div>

			<div class="col-xs-12 nopadding margin_bottom_20" ng-show="showSecurityQuestion">
				<div class="col-sm-offset-1 col-sm-10 col-xs-12">
					<div class="col-xs-12 security_question">
						<h4>{{question.questionText}}</h4>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="forgotPassObj.answer" ng-readonly="showPasswordField" placeholder="Answer security question..." on-enter="answer">
					</div>	
					<button type="button" class="btn col-xs-12 btnBlue" ng-click="answerSecurityQuestion(forgotPassObj)" ng-disabled="showPasswordField" data-enter="answer">Answer</button>
				</div>
			</div>

			<div class="col-xs-12 nopadding" ng-show="showPasswordField">
				<div class="col-sm-offset-1 col-sm-10 col-xs-12">
					<div class="col-xs-12 security_question">
						<h4>Create new password: </h4>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" ng-model="forgotPassObj.password" ng-readonly="" placeholder="Enter new password"  on-enter="password">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" ng-model="forgotPassObj.conf_password" ng-readonly="" placeholder="Retype password" on-enter="password">
					</div>	
					<button type="button" class="btn col-xs-12 btnBlue" ng-click="createNewPassword(forgotPassObj)" data-enter="password">Create New Password</button>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="col-sm-offset-1 col-sm-10 col-xs-12 login_button_div nopadding ">
					<button type="button" class="btn col-xs-12 btn_orange" ng-click="goToSignIn()">Back to LOGIN</button>
				</div>
			</div>

		</div>