<div class="col-xs-12" id="loginPage">
	
	<div class="col-md-offset-4 col-sm-offset-3 col-xs-offset-1 col-md-4 col-sm-6 col-xs-10" ui-view>
		<div class="col-sm-offset-2 col-sm-8 col-xs-12 login_box">
			
			<div class="col-md-12">
				<div class="col-md-offset-2 col-md-8 login_logo">
					<img src="img/logo.png" class="img-responsive">
				</div>
			</div>

			<div class="col-xs-12 nopadding">
				<div class="col-sm-offset-1 col-sm-10 col-xs-12" on-enter>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="user.username" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" ng-model="user.password" placeholder="Password">
					</div>
					<div class="col-xs-12 forgot_pass">
						<a ui-sref="login.forgot_password"><p>Forgot password?</p></a>
					</div>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="col-sm-offset-1 col-sm-10 col-xs-12 login_button_div">
					<button type="button" class="btn col-xs-12 btn_orange" ng-click="login(user)" data-enter>LOGIN</button>
					<button type="button" class="btn col-xs-12 btnBlue" ng-click="goToSignUp()">SIGNUP</button>
				</div>
			</div>

		</div>
	</div>


</div>
